<br>
<span md-colors="{color:'primary'}">
  <mat-card-title>
      <h1>Welcome to the Calisota App</h1>
  </mat-card-title>
  <mat-card-content>
    <br>
  </mat-card-content>
</span>
<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Getting Started
      </mat-panel-title>
      <mat-panel-description>
        Click Here To Get Started
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="video">>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6wD4V0rvlDI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel class="panel2">
    <mat-expansion-panel-header>
      <mat-panel-title>
        How It Works
      </mat-panel-title>
      <mat-panel-description>
        An Explaination Of Our Project
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Explaination of project goes here</p>
  </mat-expansion-panel>

  <mat-expansion-panel class="panel2">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Get Verified
        </mat-panel-title>
        <mat-panel-description>
          Information About Getting Verified
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Info about getting verified goes here</p>
    </mat-expansion-panel>

</mat-accordion>
<br>
<br>
<span md-colors="{color:'primary'}">
    <mat-card-title>
        <h1>We're proud to have you with us!</h1>
    </mat-card-title><br><br>
    <mat-card-content>

    </mat-card-content>
  </span>
