<span md-colors="{color:'primary'}">
    <mat-card-title>
        <h1>We are proud to have you with us!</h1>
    </mat-card-title>
    <mat-card-content>

    </mat-card-content>
</span>
<span md-colors="{color:'primary'}"z>
  <mat-card-title class="about">
      <h3><a href="../home" class="about">Click Here To Get Started</a></h3>
  </mat-card-title>
  <mat-card-content class="video1">
      <iframe width="660" height="350" src="https://www.youtube.com/embed/dQW-_3egQz8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </mat-card-content>
</span>


