.mat-card-title {
  color: #09215a;
  text-align: center;
  height: fit-content;
}

.mat-expansion-panel {
  background: rgb(248, 119, 45);
}
.mat-expansion-panel-header-title {
  color: rgb(255, 255, 255)
}
.mat-expansion-panel-header-description {
  color: rgb(255, 255, 255)
}
.panel2 {
  background: #09215a;
}

::ng-deep .panel2 > .mat-expansion-indicator:after {
  color: white;
}

/deep/ .mat-expansion-indicator::after, .mat-expansion-panel-header-description { color: white;}


.video1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  color: rgb(248, 119, 45);
  text-align: center;
  align-items: center;
  height: fit-content;
}

