<br><br><br><br><br>
<form #signUpForm="ngForm" class="center" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
  <div class="center1" fxLayout="column" fxLayoutGap="32px">  
    <input type="text" #issuerName="ngModel" [(ngModel)]="userService.selectedUser.issuerName" name="issuerName" placeholder="Full Name"
    required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !issuerName.valid }">
    <div *ngIf="signUpForm.submitted && !issuerName.valid">
      <label class="validation-message">This field is required.</label>
    </div>
  </div>
  <div class="center1" fxLayout="column" fxLayoutGap="32px">  
    <input type="text" #certification="ngModel" [(ngModel)]="userService.selectedUser.certification" name="certification" placeholder="certification"
    required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !certification.valid }">
    <div *ngIf="signUpForm.submitted && certification.errors">
      <label *ngIf="certification.errors.required" class="validation-message">This field is required.</label>
    </div>
  </div>
  <div class="center1" fxLayout="column" fxLayoutGap="32px">  
    <input type="text" #certificationID="ngModel" [(ngModel)]="userService.selectedUser.certificationID" name="certificationID" placeholder="certificationID"
    required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !certificationID.valid }">
    <div *ngIf="signUpForm.submitted && certificationID.errors">
      <label *ngIf="certificationID.errors.required" class="validation-message">This field is required.</label>
    </div><br>
  </div>
  <div class="center1" fxLayout="column" fxLayoutGap="32px">  
    <input type="submit" value="Add" class="center">
  </div>
</form>

<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
  Saved successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>




<!--
<body>
  <mat-accordion>
      <mat-expansion-panel>
          <body>
              <div class="row">
                <div class="col s12">
                  <div class="card">
                    <div class="card-content white-text">
                      <div class="row">
                        <div class="col s5">
                          <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
                            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
                            <div class="row">
                              <div class="input-field col s12">
                                <label>Issuer Name :
                                  <label class="red-text">*</label>
                                </label>
                                <input type="text" name="issuerName" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.issuername" placeholder="Enter issuer name" required>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12">
                                  <label>Certification :</label>
                                <input type="text" name="certification" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.certification" placeholder="Certification">
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12">
                                <button class="btn btn-custom right" type="button" (click)="resetForm(employeeForm)">Reset</button>
                                <button class="btn btn-custom right" type="submit" [disabled]="!employeeForm.valid">Submit</button>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="col s7">
                            <table class="responsive-table highlight">
                                <thead>
                                  <tr>
                                    <th>Issuer Name</th>
                                    <th>Certification</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tr *ngFor="let emp of employeeService.employees">
                                  <td>{{emp.name}}</td>
                                  <td>{{emp.position}}</td>
                                  <td>
                                      <a class="action-btn" (click)="onEdit(emp)">
                                        <i class="material-icons">edit</i>
                                      </a>
                                      <a class="action-btn" (click)="onDelete(emp._id,employeeForm)">
                                        <i class="material-icons">delete</i>
                                      </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </body>
      </mat-expansion-panel>



        <mat-expansion-panel>

              <form #myForm="ngForm">
                  <div *ngFor="let certificate of CertificationList">
                    <div style="border:1px solid blue; text-align:center; padding:10px; margin:5px;">
                      <mat-form-field>
                        <input matInput placeholder="Issuer / Authority">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Certification">
                      </mat-form-field><br>
                    </div>
                  </div>
              </form>
              <button mat-stroked-button color="primary" (click)="addNewCertification()"><b> Add New Certification</b></button>&nbsp;&nbsp;<button mat-raised-button color="warn" (click)="removeLastCertification()"><b>Remove Last Certification</b></button>
          </mat-expansion-panel>
    </mat-accordion>
    &nbsp;
    <br>
    <div>
    <span md-colors="{color:'primary'}">
        <mat-card-title>
            Welcome to the Calisota App!
        </mat-card-title><br><br>
        <mat-card-content>
        <button mat-raised-button color="primary" style="margin-right:5px;">Submit</button>
        </mat-card-content>
      </span>
</div>
</body>

-->