<br><br><br><br><br>
<form #signUpForm="ngForm" class="center" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
  <div class="center1" fxLayout="column" fxLayoutGap="32px">
    <input type="text" #contactName="ngModel" [(ngModel)]="userService.selectedUser.contactName" name="contactName" placeholder="Contact Name"
    required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !contactName.valid }">
    <div *ngIf="signUpForm.submitted && !contactName.valid">
     <label class="validation-message">This field is required.</label>
    </div><br>
  </div>
  <div class="center1" fxLayout="column" fxLayoutGap="32px">
    <input type="text" #contactAddress="ngModel" [(ngModel)]="userService.selectedUser.contactAddress" name="contactAddress" placeholder="Address"
    required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !contactAddress.valid }">
    <div *ngIf="signUpForm.submitted && contactAddress.errors">
      <label *ngIf="contactAddress.errors.required" class="validation-message">This field is required.</label>
    </div>
    <input type="text" #contactCity="ngModel" [(ngModel)]="userService.selectedUser.contactCity" name="contactCity" placeholder="City"
    required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !contactCity.valid }">
    <div *ngIf="signUpForm.submitted && contactCity.errors">
      <label *ngIf="contactCity.errors.required" class="validation-message">This field is required.</label>
    </div>
    <input type="text" #contactState="ngModel" [(ngModel)]="userService.selectedUser.contactState" name="contactState" placeholder="State"
    required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !contactState.valid }">
    <div *ngIf="signUpForm.submitted && contactState.errors">
      <label *ngIf="contactState.errors.required" class="validation-message">This field is required.</label>
    </div>
    <input type="text" #contactZIP="ngModel" [(ngModel)]="userService.selectedUser.contactZIP" name="contactZIP" placeholder="ZIP"
    required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !contactZIP.valid }">
    <div *ngIf="signUpForm.submitted && contactZIP.errors">
      <label *ngIf="contactZIP.errors.required" class="validation-message">This field is required.</label>
    </div>
  </div>
  <div class="center1" fxLayout="column" fxLayoutGap="32px">
    <input type="text" #contactEmail="ngModel" [(ngModel)]="userService.selectedUser.contactEmail" name="contactEmail" placeholder="Email"
    required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !contactEmail.valid }">
    <div *ngIf="signUpForm.submitted && contactEmail.errors">
      <label *ngIf="contactEmail.errors.required" class="validation-message">This field is required.</label>
    </div>
    <input type="text" #contactPhone="ngModel" [(ngModel)]="userService.selectedUser.contactPhone" name="contactPhone" placeholder="Phone"
    required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !contactPhone.valid }">
    <div *ngIf="signUpForm.submitted && contactPhone.errors">
      <label *ngIf="contactPhone.errors.required" class="validation-message">This field is required.</label>
    </div>
    <input type="text" #contactYears="ngModel" [(ngModel)]="userService.selectedUser.contactYears" name="contactYears" placeholder="Years Known"
    required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !contactYears.valid }">
    <div *ngIf="signUpForm.submitted && contactYears.errors">
      <label *ngIf="contactYears.errors.required" class="validation-message">This field is required.</label>
    </div>
  </div>
  <div class="center1" fxLayout="column" fxLayoutGap="32px">
      <input type="submit" value="Add">
  </div>
</form>

<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
  Saved successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>



<!--
<body>
  <mat-accordion>
      <mat-expansion-panel>
          <body>
              <div class="row">
                <div class="col s12">
                  <div class="card">
                    <div class="card-content white-text">
                      <div class="row">
                        <div class="col s5">
                          <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
                            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
                            <div class="row">
                              <div class="input-field col s12">
                                <label>School Name :
                                  <label class="red-text">*</label>
                                </label>
                                <input type="text" name="schoolName" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.schoolName" placeholder="Enter School Name" required>
                              </div>
                            </div>

                            <div class="row">
                              <div class="input-field col s12">
                                  <label>School Address :</label>
                                  <label class="red-text">*</label>
                                  >                   <input type="text" name="schoolAddress" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.schoolAddress" placeholder="School Address" required>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12">
                                <label>School City :
                                  <label class="red-text">*</label>
                                </label>
                                <input type="text" name="schoolCity" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.schoolCity" placeholder="Enter School City" required>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12">
                                <label>School State :
                                  <label class="red-text">*</label>
                                </label>
                                <input type="text" name="schoolState" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.schoolState" placeholder="Enter School State" required>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12">
                                <label>School ZIP :
                                  <label class="red-text">*</label>
                                </label>
                                <input type="text" name="schoolZIP" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.schoolZIP" placeholder="Enter School ZIP" required>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12">
                                <button class="btn btn-custom right" type="button" (click)="resetForm(employeeForm)">Reset</button>
                                <button class="btn btn-custom right" type="submit" [disabled]="!employeeForm.valid">Submit</button>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="col s7">
                            <table class="responsive-table highlight">
                                <thead>
                                  <tr>
                                    <th>School Name</th>
                                    <th>School Address</th>
                                    <th>School City</th>
                                    <th>School State</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tr *ngFor="let emp of employeeService.employees">
                                  <td>{{emp.name}}</td>
                                  <td>{{emp.position}}</td>
                                  <td>
                                      <a class="action-btn" (click)="onEdit(emp)">
                                        <i class="material-icons">edit</i>
                                      </a>
                                      <a class="action-btn" (click)="onDelete(emp._id,employeeForm)">
                                        <i class="material-icons">delete</i>
                                      </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </body>
      </mat-expansion-panel>



        <mat-expansion-panel>

              <form #myForm="ngForm">
                  <div *ngFor="let certificate of CertificationList">
                    <div style="border:1px solid blue; text-align:center; padding:10px; margin:5px;">
                      <mat-form-field>
                        <input matInput placeholder="Issuer / Authority">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Certification">
                      </mat-form-field><br>
                    </div>
                  </div>
              </form>
              <button mat-stroked-button color="primary" (click)="addNewCertification()"><b> Add New Certification</b></button>&nbsp;&nbsp;<button mat-raised-button color="warn" (click)="removeLastCertification()"><b>Remove Last Certification</b></button>
          </mat-expansion-panel>
    </mat-accordion>
    &nbsp;
    <br>
    <div>
    <span md-colors="{color:'primary'}">
        <mat-card-title>
            Welcome to the Calisota App!
        </mat-card-title><br><br>
        <mat-card-content>
        <button mat-raised-button color="primary" style="margin-right:5px;">Submit</button>
        </mat-card-content>
      </span>
</div>
</body>

-->
