<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>

  <h1>  Calisota</h1>
  <span class="fill-space"></span>
  <div class="these">
    <a mat-button routerLink="/welcome" routerLinkActive="active">Welcome</a>
    <a mat-button routerLink="/home" routerLinkActive="active">Your Résumé</a>
    <a mat-button routerLink="/vitae" routerLinkActive="active">Verified Vitae</a>
    <a mat-button routerLink="/gamecard" routerLinkActive="active">Game Card</a>
    <a mat-button routerLink="/about" routerLinkActive="active">About</a>
  </div>
  </mat-toolbar-row>


</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'"> Résumé </a>
      <a mat-list-item [routerLink]="'/vitae'"> Verified Vitae </a>
      <a mat-list-item [routerLink]="'/gamecard'"> Game Card </a>
      <a mat-list-item [routerLink]="'/referrals'"> Add Referrals </a>
      <a mat-list-item [routerLink]="'/add-education'" routerLinkActive="active"> Add To Education </a>
      <a mat-list-item [routerLink]="'/add-employment'" routerLinkActive="active"> Add To Employment </a>
      <a mat-list-item [routerLink]="'/add-certification'" routerLinkActive="active"> Add To Certifications </a>
      <a mat-list-item [routerLink]="'/add-documentation'" routerLinkActive="active"> Add To Documentation </a>
      <a mat-list-item class="orange" href="https://www.calisota.life/book-online" routerLinkActive="active"> Get Verified </a>
      <a mat-list-item (click)="onLogOut()"> Logout </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">


      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
