<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>

  <h1>  Calisota</h1>
  <span class="fill-space"></span>
  <div class="these">
    <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/verification" routerLinkActive="active">Verification</a>
    <a mat-button routerLink="/search" routerLinkActive="active">Search</a>
    <a mat-button routerLink="/settings" routerLinkActive="active">Settings</a>

  </div>
  </mat-toolbar-row>


</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'"> Home </a>
      <a mat-list-item [routerLink]="'/verification'"> Verification </a>
      <a mat-list-item [routerLink]="'/search'"> Search </a>
      <a mat-list-item [routerLink]="'/settings'"> Settings </a>
      <a mat-list-item (click)="onLogOut()"> Logout </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">


      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
