
<span md-colors="{color:'primary'}">
    <mat-card-title class="header1">
        <h1>Add Your Employments</h1>
    </mat-card-title>
    <mat-card-content>

    </mat-card-content>
</span>
<form #addEmploymentForm="ngForm" (ngSubmit)="addEmploymentForm.valid && onSubmit(addEmploymentForm)">
  <div class="center1" fxLayout="column" fxLayoutGap="32px">
    <br>
    <input type="text" #employerName="ngModel" [(ngModel)]="userService.selectedUser.employment.employerName" name="employerName" placeholder="Employer Name"
    required  [ngClass]="{'invalid-textbox' :addEmploymentForm.submitted && !employerName.valid }">
    <div *ngIf="addEmploymentForm.submitted && !employerName.valid">
      <label style="color: #fff;" class="validation-message">* field required.</label>
    </div>
  </div>

  <div class="center1" fxLayout="column" fxLayoutGap="32px">
    <input type="text" #employerAddress="ngModel" [(ngModel)]="userService.selectedUser.employment.employerAddress" name="employerAddress" placeholder="Employer Address"
    required [ngClass]="{'invalid-textbox' :addEmploymentForm.submitted && !employerAddress.valid }">
    <div *ngIf="addEmploymentForm.submitted && employerAddress.errors">
      <label style="color: #fff;" *ngIf="employerAddress.errors.required" class="validation-message">* field required.</label>
    </div>
    <input type="text" #employerCity="ngModel" [(ngModel)]="userService.selectedUser.employment.employerCity" name="employerCity" placeholder="Employer City"
    required [ngClass]="{'invalid-textbox' :addEmploymentForm.submitted && !employerCity.valid }">
    <div *ngIf="addEmploymentForm.submitted && employerCity.errors">
    <label style="color: #fff;" *ngIf="employerCity.errors.required" class="validation-message">* field required.</label>
    </div>
    <input type="text" #employerState="ngModel" [(ngModel)]="userService.selectedUser.employment.employerState" name="employerState" placeholder="Employer State"
    required [ngClass]="{'invalid-textbox' :addEmploymentForm.submitted && !employerState.valid }">
    <div *ngIf="addEmploymentForm.submitted && employerState.errors">
      <label style="color: #fff;" *ngIf="employerState.errors.required" class="validation-message">* field required.</label>
    </div>
    <input type="text" #employerZIP="ngModel" [(ngModel)]="userService.selectedUser.employment.employerZIP" name="employerZIP" placeholder="Employer ZIP"
    required [ngClass]="{'invalid-textbox' :addEmploymentForm.submitted && !employerZIP.valid }">
    <div *ngIf="addEmploymentForm.submitted && employerZIP.errors">
      <label style="color: #fff;" *ngIf="employerZIP.errors.required" class="validation-message">* field required.</label>
    </div>
  </div>
  <div class="center1" fxLayout="column" fxLayoutGap="32px">
    <input type="text" #employerContact="ngModel" [(ngModel)]="userService.selectedUser.employment.employerContact" name="employerContact" placeholder="Employer Contact"
    required [ngClass]="{'invalid-textbox' :addEmploymentForm.submitted && !employerContact.valid }">
    <div *ngIf="addEmploymentForm.submitted && employerContact.errors">
      <label style="color: #fff;" *ngIf="employerContact.errors.required" class="validation-message">* field required.</label>
    </div>
    <input type="text" #employerPhone="ngModel" [(ngModel)]="userService.selectedUser.employment.employerPhone" name="employerPhone" placeholder="Contact Phone"
    minlength="10" required [ngClass]="{'invalid-textbox' :addEmploymentForm.submitted && !employerPhone.valid }">
    <div *ngIf="addEmploymentForm.submitted && employerPhone.errors">
      <label style="color: #fff;" *ngIf="employerPhone.errors.required" class="validation-message">* field required.</label>
    </div>
  </div>
  <div class="center1" fxLayout="column" fxLayoutGap="32px">
      <input type="text" #employerPositon="ngModel" [(ngModel)]="userService.selectedUser.employment.employerPositon" name="employerPositon" placeholder="Positon"
    required [ngClass]="{'invalid-textbox' :addEmploymentForm.submitted && !employerPositon.valid }">
    <div *ngIf="addEmploymentForm.submitted && employerPositon.errors">
      <label style="color: #fff;" *ngIf="employerPositon.errors.required" class="validation-message">* field required.</label>
    </div>
    <input type="text" #employerStart="ngModel" [(ngModel)]="userService.selectedUser.employment.employerStart" name="employerStart" placeholder="Start Date"
    required [ngClass]="{'invalid-textbox' :addEmploymentForm.submitted && !employerStart.valid }">
    <div *ngIf="addEmploymentForm.submitted && employerStart.errors">
      <label style="color: #fff;" *ngIf="employerStart.errors.required" class="validation-message">* field required.</label>
    </div>
    <input type="text" #employerEnd="ngModel" [(ngModel)]="userService.selectedUser.employment.employerEnd" name="employerEnd" placeholder="End Date"
    required [ngClass]="{'invalid-textbox' :addEmploymentForm.submitted && !employerEnd.valid }">
    <div *ngIf="addEmploymentForm.submitted && employerEnd.errors">
      <label style="color: #fff;" *ngIf="employerEnd.errors.required" class="validation-message">* field required.</label>
    </div>
  </div>
  <div class="center1" fxLayout="column" fxLayoutGap="32px">
      <input type="text" #employerReason="ngModel" [(ngModel)]="userService.selectedUser.employment.employerReason" name="employerReason" placeholder="Reason For Leaving"
    required [ngClass]="{'invalid-textbox' :addEmploymentForm.submitted && !employerReason.valid }">
    <div *ngIf="addEmploymentForm.submitted && employerReason.errors">
      <label style="color: #fff;" *ngIf="employerReason.errors.required" class="validation-message">* field required.</label>
    </div>
  </div>
  <div class="center1" fxLayout="column" fxLayoutGap="32px">
    <input type="submit" value="Add">
  </div>
</form>


<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
  Saved successfully
</div>


<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>




<!--
 <mat-expansion-panel>
  <mat-expansion-panel-header>
      <mat-panel-title>
        Employment
      </mat-panel-title>
   fullName   <mat-panel-description>
        Add your Employment
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form #myForm="ngForm">
      <div *ngFor="let employer of EmployerList">
        <div style="border:1px solid blue; text-align:center; padding:10px; margin:5px;">
          <mat-form-field>
              <input matInput placeholder="Employer Name" class="form-control" name="employerName_{{employer.id" />
          </mat-form-field><br>
          <mat-form-field>
              <input matInput placeholder="Address" class="form-control" name="employerAddress_{{employer.id}}" />
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="City" class="form-control" name="employerCity_{{employer.id}}" />
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="State" class="form-control" name="employerState_{{employer.id}}" />
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="ZIP" class="form-control" name="employerZIP_{{employer.id}}" />
          </mat-form-field><br>
          <mat-form-field>
              <input matInput placeholder="Supervisor or Contact" class="form-control" name="employerContact_{{employer.id}}" />
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Phone" class="form-control" name="employerPhone_{{employer.id}}" />
          </mat-form-field><br>
          <mat-form-field>
              <input matInput placeholder="Position" class="form-control" name="employerPosition_{{employer.id}}" />
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Start Date"class="form-control" name="employerStartDate_{{employer.id}}" />
          </mat-form-field>
          <mat-form-field>
              <input matInput placeAdd Your Education
holder="End Date"class="form-control" name="employerEndDate_{{employer.id}}" />
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Reason For Quitting"class="form-control" name="employerReason_{{employer.id}}" />
          </mat-form-field>
        </div>
      </div>
    </form>
    </mat-expansion-panel>
  -->

