<span md-colors="{color:'primary'}">
    <mat-card-title>
        <h3>Your Résumé</h3>
    </mat-card-title>
</span>
<body>
  <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Your Profile
          </mat-panel-title>
          <mat-panel-description>
            View Your Profile
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table *ngIf="userDetails" class="table-fill">
            <thead>
              <tr>
                  <th colspan="2" class="text-center">User Profile</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                  <td>First Name</td>
                  <td>{{userDetails.firstName}}</td>
              </tr>
              <tr>
                  <td>Last Name</td>
                  <td>{{userDetails.lastName}}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{userDetails.email}}</td>
              </tr>
              <tr>
                <td>City</td>
                <td>{{userDetails.city}}</td>
              </tr>
              <tr>
                <td>Phone</td>
                <td>{{userDetails.phone}}</td>
              </tr>
            </tbody>
          </table>
      </mat-expansion-panel>


      <!--                  E D U C A T I O N                  -->

      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Education
            </mat-panel-title>
            <mat-panel-description>
              Add/View Your Education
            </mat-panel-description>
          </mat-expansion-panel-header>

          <table *ngIf="SchoolList && SchoolList.length" style="width: 100%" mat-table [dataSource]="schoolsDataSource">
            <ng-container matColumnDef="schoolName">
              <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> School Name </th>
              <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.schoolName}} </td>
            </ng-container>
            <ng-container matColumnDef="schoolType">
              <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> School Type </th>
              <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.schoolType}} </td>
            </ng-container>
            <ng-container matColumnDef="address">
              <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> Address </th>
              <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>
            <ng-container matColumnDef="city">
              <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> City </th>
              <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.city}} </td>
            </ng-container>
            <ng-container matColumnDef="state">
              <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> State </th>
              <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.state}} </td>
            </ng-container>
            <ng-container matColumnDef="zip">
              <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> Zip </th>
              <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.zip}} </td>
            </ng-container>
            <ng-container matColumnDef="degree">
              <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> Degree </th>
              <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.degree}} </td>
            </ng-container>
            <ng-container matColumnDef="major">
              <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> Major </th>
              <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.major}} </td>
            </ng-container>
            <ng-container matColumnDef="yearsCompleted">
              <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> Years Completed </th>
              <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.yearsCompleted}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="schoolsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: schoolsColumns;"></tr>
          </table>

          <form *ngIf="showSchoolsForm" [formGroup]="schoolsForm">
              <div>
                <div style="border:1px solid blue; text-align:center; padding:10px; margin:5px;">
                    <mat-form-field>
                        <input matInput placeholder="School Name" class="form-control" name="schoolName_{{school.id" formControlName="schoolName" required="true"/>
                    </mat-form-field><br>
                    <p class="p">School Type:</p>
                    <mat-button-toggle-group class="toggleGroup" #toggleGroup="matButtonToggleGroup" formControlName="schoolType" required>
                        <mat-button-toggle value="High School">High School</mat-button-toggle>
                        <mat-button-toggle value ="College">College</mat-button-toggle>
                        <mat-button-toggle value ="Business or Trade School">Business or Trade School</mat-button-toggle>
                        <mat-button-toggle value="Professional School">Professional School</mat-button-toggle>
                      </mat-button-toggle-group><br>{{toggleGroup.value || '* Please select a school type'}}<br>
                    <mat-form-field>
                      <input matInput placeholder="Address" formControlName="address" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="City" formControlName="city" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="State" formControlName="state" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="ZIP" formControlName="zip" required>
                    </mat-form-field><br>
                    <mat-form-field>
                        <input matInput placeholder="Degree" formControlName="degree" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Major" formControlName="major" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Years Completed" formControlName="yearsCompleted" required>
                    </mat-form-field>
                    <br>
                    <button mat-stroked-button color="primary" (click)="addNewSchool()"><b>Submit</b></button>
                </div>
              </div>
          </form>
          <br>
          <button mat-stroked-button color="primary" (click)="toggleSchoolsForm()"><b> Toggle New School</b></button>&nbsp;&nbsp;<button mat-raised-button color="warn" (click)="removeLastSchool()"><b>Hide Schools List</b></button>

        </mat-expansion-panel>


        <!--       E  M  P  L  O  Y  M  E  N  T        -->

        <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                Employment
              </mat-panel-title>
              <mat-panel-description>
                Add/View Your Employment
              </mat-panel-description>
            </mat-expansion-panel-header>

            <table *ngIf="EmployerList && EmployerList.length" style="width: 100%" mat-table [dataSource]="employerDataSource">
              <ng-container matColumnDef="employerName">
                <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> Employer Name </th>
                <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.employerName}} </td>
              </ng-container>
              <ng-container matColumnDef="address">
                <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> Address </th>
                <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.address}} </td>
              </ng-container>
              <ng-container matColumnDef="city">
                <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> City </th>
                <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.city}} </td>
              </ng-container>
              <ng-container matColumnDef="state">
                <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> State </th>
                <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.state}} </td>
              </ng-container>
              <ng-container matColumnDef="zip">
                <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> Zip </th>
                <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.zip}} </td>
              </ng-container>
              <ng-container matColumnDef="supervisionContact">
                <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> Supervision contact </th>
                <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.supervisionContact}} </td>
              </ng-container>
              <ng-container matColumnDef="phone">
                <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> Phone </th>
                <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.phone}} </td>
              </ng-container>
              <ng-container matColumnDef="position">
                <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> Position </th>
                <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
              <ng-container matColumnDef="startDate">
                <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> Start Date </th>
                <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.startDate}} </td>
              </ng-container>
              <ng-container matColumnDef="endDate">
                <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> EndDate </th>
                <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.endDate}} </td>
              </ng-container>
              <ng-container matColumnDef="reasonForQuiting">
                <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> Reason For Quiting </th>
                <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.reasonForQuiting}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="employerColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: employerColumns;"></tr>
            </table>

            <form *ngIf="showEmploymentsForm" [formGroup]="employmentsForm">
              <div>
                <div style="border:1px solid blue; text-align:center; padding:10px; margin:5px;">
                  <mat-form-field>
                      <input matInput placeholder="Employer Name" class="form-control" formControlName="employerName" required/>
                  </mat-form-field><br>
                  <mat-form-field>
                      <input matInput placeholder="Address" class="form-control" formControlName="address" required/>
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput placeholder="City" class="form-control" formControlName="city" required/>
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput placeholder="State" class="form-control" formControlName="state" required/>
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput placeholder="ZIP" class="form-control" formControlName="zip" required/>
                  </mat-form-field><br>
                  <mat-form-field>
                      <input matInput placeholder="Supervisor or Contact" class="form-control" formControlName="supervisionContact" required/>
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput placeholder="Phone" class="form-control" formControlName="phone" required/>
                  </mat-form-field><br>
                  <mat-form-field>
                      <input matInput placeholder="Position" class="form-control" formControlName="position" required/>
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput placeholder="Start Date"class="form-control" formControlName="startDate" required/>
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput placeholder="End Date"class="form-control" formControlName="endDate" required/>
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput placeholder="Reason For Quitting"class="form-control" formControlName="reasonForQuiting" required/>
                  </mat-form-field>
                  <br>
                  <button mat-stroked-button color="primary" (click)="addNewEmployer()"><b>Submit</b></button>
                </div>
              </div>
            </form>
            <br>
            <button mat-stroked-button color="primary" (click)="toggleEmploymentsForm()" class="center-align" style="justify-content: center"><b> Toggle New Employer</b></button>&nbsp;&nbsp;<button mat-raised-button color="warn" (click)="removeLastEmployer()"><b>Hide Employers List</b></button>
          </mat-expansion-panel>


          <!--    C   E   R   T   I   F  I  C  A  T  I  O  N  S   -->


          <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Certifications
                </mat-panel-title>
                <mat-panel-description>
                  Add/View Your Certifications
                </mat-panel-description>
              </mat-expansion-panel-header>

              <table *ngIf="CertificationList && CertificationList.length" style="width: 100%" mat-table [dataSource]="certsDataSource">
                  <ng-container matColumnDef="issuer">
                    <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> Issuer / Authority </th>
                    <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.issuer}} </td>
                  </ng-container>
                  <ng-container matColumnDef="certification">
                    <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> Certification </th>
                    <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.certification}} </td>
                  </ng-container>
                  <ng-container matColumnDef="certNumber">
                    <th style="color: #fff; padding: 5px;" mat-header-cell *matHeaderCellDef> Certification Number / ID </th>
                    <td style="padding-right: 5px;" mat-cell *matCellDef="let element"> {{element.certNumber}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="certificationsColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: certificationsColumns;"></tr>
                </table>

              <form *ngIf="showCertificateForm" [formGroup]="certificateForm">
                  <div>
                    <div style="border:1px solid blue; text-align:center; padding:10px; margin:5px;">
                      <mat-form-field>
                        <input matInput placeholder="Issuer / Authority" formControlName="issuer" required>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Certification" formControlName="certification" required>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Certificate Number/ID" formControlName="certNumber" required>
                      </mat-form-field><br>
                      <button mat-stroked-button color="primary" (click)="addNewCertification()"><b>Submit</b></button>
                    </div>
                  </div>
              </form>
              <br>
              <button mat-stroked-button color="primary" (click)="toggleCertificationForm()"><b> Toggle New Certification</b></button>
              &nbsp;&nbsp;
              <button mat-raised-button color="warn" (click)="removeLastCertification()"><b>Hide Certifications List</b></button>
          </mat-expansion-panel>


          <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Documents
                </mat-panel-title>
                <mat-panel-description>
                  Add/View Your Documents
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
  </mat-accordion>
    &nbsp;
    <br>
    <!--
    <span md-colors="{color:'primary'}">
        <mat-card-title>
            <h1>Calisota Inc 2020</h1>
        </mat-card-title><br><br>
        <mat-card-content>

        </mat-card-content>
      </span>
    -->
</body>

