<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Calisota Inc</mat-card-title>
    <mat-card-subtitle>The Company You Keep</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/img/Calisota_Logo-removebg.png" alt="Calisota Logo">
  <mat-card-content>
    <p>
      Info About Calisota
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>

</mat-card>
