<mat-card>

</mat-card>

<mat-card>
  <mat-card-content>
    <h2 class="example-h2">About This Application</h2>
    <mat-tab-group>
      <mat-tab label="Your Resume">
        <p>Your Resume is where you add your education, employment, and certification history as well as submit pertinent documents.</p>
      </mat-tab>
      <mat-tab label="Verified Vitae">
        <p>Verified Vitae is where your verified education, employment, and certification history will appear as it is verified by Calisota.</p>
      </mat-tab>
      <mat-tab label="Game Card">
        <p>Info about the game card will go here.</p>
      </mat-tab>
      <mat-tab label="The Big Picture">
        <p>The Big Picture will go here.</p>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
