<mat-card>
  <br>
  <br>
  <br>
  <br>
  <br>
</mat-card>

<mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Getting Started
        </mat-panel-title>
        <mat-panel-description>
          Click Here To Get Started
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="video">

      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="panel2">
      <mat-expansion-panel-header>
        <mat-panel-title>
          How It Works
        </mat-panel-title>
        <mat-panel-description>
          An Explaination Of Our Project
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="white">
      <p>Explaination of project goes here</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="panel2">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Get Verified
          </mat-panel-title>
          <mat-panel-description>
            Information About Getting Verified
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="white">
        <p>Info about getting verified goes here</p>
        </div>
      </mat-expansion-panel>

  </mat-accordion>
