<mat-card>
    <mat-card-content>
      <h2 class="example-h2">Administrative Settings</h2>
      <mat-tab-group>
        <mat-tab label="Candidates">
          <p>Candidates stuff goes here</p>
        </mat-tab>
        <mat-tab label="Staff">
          <p>Staff info goes here.</p>
        </mat-tab>
        <mat-tab label="Verifcation">
          <p>Verification info goes here.</p>
        </mat-tab>
        <mat-tab label="Game Card">
          <p>Game Card Settings</p>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
