<mat-card>
    <mat-card-content>
      <h2 class="example-h2">Administrative Settings</h2>
      <mat-tab-group>
        <mat-tab label="Candidates">
          <p>Candidates Settings:<br><br>
            Signup Settings:<br><br>
            Signin Settings:<br><br>
            Résumé Settings:<br><br>
          </p>
        </mat-tab>
        <mat-tab label="Staff">
          <p>Staff Settings:</p>
        </mat-tab>
        <mat-tab label="Verifcation">
          <p>Verification Settings:</p>
        </mat-tab>
        <mat-tab label="Game Card">
          <p>Game Card Settings:</p>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
  
