/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgb(255, 145, 0);
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: rgb(255, 145, 0);
}

::ng-deep .mat-input-wrapper{
  width:400px !important;
}


.fName {display: inline-block; width:47%;}
.fName .cf-medium {width:97%;}


.reg_name {
  max-width:200px;
  color: rgb(255, 145, 0);
  background-color: rgb(255, 255, 255);
}

.reg_name2 {
  max-width:200px;
  color: rgb(255, 145, 0);
  background-color: rgb(255, 255, 255);
}

.reg_name3 {
  max-width:200px;
  color: rgb(255, 145, 0);
  background-color: rgb(255, 255, 255);
}

.orange {
  color: rgb(255, 145, 0);
}

.orange1 {
  color: rgb(255, 145, 0);
}


input[type=text]:focus:not([readonly]) + label {
  color: rgb(209, 92, 38);
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid orange;
  box-shadow: 0 1px 0 0 orange;
}

input[type=password]:focus:not([readonly]) + label {
  color: orange;
}

input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid orange;
  box-shadow: 0 1px 0 0 orange;
}
.button1 {
  background-color: rgb(255, 123, 0);
}


